# IDE directories
.vscode/
.idea/
.project/
.classpath/

# Data set
data

# Output generated data 
output

# model files
models

# Visual Studio
.vscode/
.vscode/*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
.venv
venv/
pip-log.txt


# Flask
instance/
.webassets-cache